<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>&copy;2022 Rails React Simpsons</p>
  </div>
</div>
